.player {
  width: 250px;
  display: flex;
  align-items: center;
  background-color: black;
  box-shadow: -2.1px 2.1px 10px rgba(255, 132, 0, 0.639);
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;

  span {
    color: white;
    font-size: 24px;
    margin-left: 16px;
  }

  img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border: 10px solid black;
    border-radius: 50px;
    background-color: white;
  }
}
