.start-screen {
  background-image: url("./../../assets/img/ringoffire-background.png");
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  max-width: 100%;

  .start-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(3px) brightness(0.8);
  }

  h1 {
    font-size: 6rem;
    font-family: Rancho;
    text-align: center;
    display: table-caption;
    color: red;
  }
  h1:last-child {
    color: black;
    font-size: 6rem;
    font-family: Rancho;
    text-align: center;
    display: table-caption;
    cursor: pointer;

    &:hover {
      -webkit-animation-duration: 0.8s;
      -webkit-animation-name: font-effect-fire-animation-keyframes;
      -webkit-animation-iteration-count: infinite;
      -webkit-animation-direction: alternate;
      color: #ffe;
    }
  }
}
